.step-comp {padding:24px; border-radius: 20px; border:1px solid #999;}
.total {color: antiquewhite;}
.total::before {content: '/ ';}
.bar {display:inline-block; padding:8px 12px; background-color: blueviolet; border-radius: 8px;}
.current {font-weight: 700;color: #fff;}